<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detail">
      <ion-icon name="square"></ion-icon>
      <ion-label>Detail</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
