<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Search result for {{owner}}</h3>
  <ion-list>
    <ion-item *ngFor="let repo of repos">
      <p>{{repo.name}} / url: {{repo.url}}</p>
      <ion-button (click)="displayDetail(repo.name)">detail</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
