<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Detail</h3>
  <div *ngIf="repository">
    <p>owner: {{repository.owner.login}}</p>
    <p>repo name: {{repository.name}}</p>
    <p>url: {{repository.url}}</p>
    <p>description: {{repository.description}}</p>
  </div>
</ion-content>
