<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Search repositories (type an organization, example: octokit)</p>
  <ion-input type="text" [(ngModel)]="org" style="background-color: aliceblue; color: black;"></ion-input>
  <ion-button color="primary" (click)="list()">Search</ion-button>
</ion-content>
